<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TipsLocationUpdataType</key>
	<integer>3</integer>
	<key>AuthenticationServerURL</key>
	<string>https://usauth.fonestock.com:2188/auth2/token</string>
	<key>AuthType</key>
	<string>fonestock</string>
	<key>AppId</key>
	<string>twdivergence</string>
	<key>PaymentPageURL</key>
	<string>https://register.fonestock.com/fs_register/payment</string>
	<key>PurchaseVerifyURL</key>
	<string>https://register.fonestock.com/app_purchase/apple/purchase_verify</string>
	<key>SignupPageURL</key>
	<string>https://register.fonestock.com/fs_register/signup.php</string>
	<key>UpdatePushNotificationTokenURL</key>
	<string>https://uspush.fonestock.com:2189/pushtokenup/us/</string>
	<key>mainDBName</key>
	<string>DivergenceTipsDB.sqlite</string>
	<key>FBShareNotificationURL</key>
	<string>https://register.fonestock.com/fs_service/apiSocial/share</string>
	<key>AppStoreURL</key>
	<string>https://itunes.apple.com/us/app/patternpower/id842419597</string>
	<key>ForgotPasswordURL</key>
	<string>https://register.fonestock.com/fs_register/request</string>
	<key>OpenProjectURL</key>
	<string>https://register.fonestock.com/fs_service/apiSignup/initial</string>
</dict>
</plist>
