<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AuthenticationServerURL</key>
	<string>https://usauth.fonestock.com:2178/auth2/token</string>
	<key>AuthType</key>
	<string>fonestock</string>
	<key>Account</key>
	<string>uschartlead@points.fonestock.com</string>
	<key>AppId</key>
	<string>uschartlead</string>
	<key>MainPageAdvertiseURL</key>
	<string>http://www.fonestock.com/goodleads/advertise</string>
	<key>PaymentPageURL</key>
	<string>https://www.fonestock.com/goodleads/payment</string>
	<key>PurchaseVerifyURL</key>
	<string>https://www.fonestock.com/goodleads/apple/purchase_verify</string>
	<key>SignupPageURL</key>
	<string>https://www.fonestock.com/goodleads/signup.php</string>
	<key>UpdatePushNotificationTokenURL</key>
	<string>http://fidatest.fonestock.com:2172/push_notify/token_data</string>
	<key>mainDBName</key>
	<string>PatternPowerDB.sqlite</string>
	<key>FBShareNotificationURL</key>
	<string>https://www.fonestock.com/goodleads/facebook/share</string>
	<key>AppStoreURL</key>
	<string>https://itunes.apple.com/us/app/patternpower/id842419597</string>
	<key>ForgotPasswordURL</key>
	<string>https://www.fonestock.com/goodleads/resetpw</string>
</dict>
</plist>
