<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Time</key>
	<string>2014-02-10T12:07:11</string>
	<key>en</key>
	<dict>
		<key>AR</key>
		<dict>
			<key>fullName</key>
			<string>AR</string>
			<key>name</key>
			<string>AR</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/</string>
		</dict>
		<key>BB</key>
		<dict>
			<key>fullName</key>
			<string>Bollinger Band</string>
			<key>name</key>
			<string>BB</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Bollinger_bands</string>
		</dict>
		<key>BIAS</key>
		<dict>
			<key>fullName</key>
			<string>BIAS</string>
			<key>name</key>
			<string>BIAS</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Bias_ratio_(finance)</string>
		</dict>
		<key>BR</key>
		<dict>
			<key>fullName</key>
			<string>BR</string>
			<key>name</key>
			<string>BR</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/</string>
		</dict>
		<key>DMI</key>
		<dict>
			<key>fullName</key>
			<string>DMI</string>
			<key>name</key>
			<string>DMI</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Average_directional_movement_index</string>
		</dict>
		<key>EMA_1</key>
		<dict>
			<key>fullName</key>
			<string>EMA of MACD-1</string>
			<key>name</key>
			<string>EMA_1</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Moving_average_(finance)#Exponential_moving_average</string>
		</dict>
		<key>EMA_2</key>
		<dict>
			<key>fullName</key>
			<string>EMA of MACD-2</string>
			<key>name</key>
			<string>EMA_2</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Moving_average_(finance)#Exponential_moving_average</string>
		</dict>
		<key>KD</key>
		<dict>
			<key>fullName</key>
			<string>KD (Stochastic)</string>
			<key>name</key>
			<string>KD</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Stochastic_oscillator</string>
		</dict>
		<key>MACD</key>
		<dict>
			<key>fullName</key>
			<string>MACD</string>
			<key>name</key>
			<string>MACD</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/MACD</string>
		</dict>
		<key>MAV_1</key>
		<dict>
			<key>fullName</key>
			<string>Moving Average Volume 1</string>
			<key>name</key>
			<string>MAV_1</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Moving_average_(finance)</string>
		</dict>
		<key>MAV_2</key>
		<dict>
			<key>fullName</key>
			<string>Moving Average Volume 2</string>
			<key>name</key>
			<string>MAV_2</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Moving_average_(finance)</string>
		</dict>
		<key>MA_1</key>
		<dict>
			<key>fullName</key>
			<string>Moving Average Price 1</string>
			<key>name</key>
			<string>MA_1</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Moving_average_(finance)</string>
		</dict>
		<key>MA_2</key>
		<dict>
			<key>fullName</key>
			<string>Moving Average Price 2</string>
			<key>name</key>
			<string>MA_2</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Moving_average_(finance)</string>
		</dict>
		<key>MA_3</key>
		<dict>
			<key>fullName</key>
			<string>Moving Average Price 3</string>
			<key>name</key>
			<string>MA_3</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Moving_average_(finance)</string>
		</dict>
		<key>MA_4</key>
		<dict>
			<key>fullName</key>
			<string>Moving Average Price 4</string>
			<key>name</key>
			<string>MA_4</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Moving_average_(finance)</string>
		</dict>
		<key>MA_5</key>
		<dict>
			<key>fullName</key>
			<string>Moving Average Price 5</string>
			<key>name</key>
			<string>MA_5</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Moving_average_(finance)</string>
		</dict>
		<key>MA_6</key>
		<dict>
			<key>fullName</key>
			<string>Moving Average Price 6</string>
			<key>name</key>
			<string>MA_6</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Moving_average_(finance)</string>
		</dict>
		<key>MTM</key>
		<dict>
			<key>fullName</key>
			<string>Momentum</string>
			<key>name</key>
			<string>MTM</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/</string>
		</dict>
		<key>OBV</key>
		<dict>
			<key>fullName</key>
			<string>On Balance Volume</string>
			<key>name</key>
			<string>OBV</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/On_balance_volume</string>
		</dict>
		<key>PSY</key>
		<dict>
			<key>fullName</key>
			<string>Psychological Line</string>
			<key>name</key>
			<string>PSY</string>
			<key>url</key>
			<string>http://www.sharechart.com.au/Education/TechnicalIndicators/Psychological%PSYLine%PSY%28PSY%29.htm</string>
		</dict>
		<key>RSI_1</key>
		<dict>
			<key>fullName</key>
			<string>RSI-1 (Fast)</string>
			<key>name</key>
			<string>RSI_1</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Relative_Strength_Index</string>
		</dict>
		<key>RSI_2</key>
		<dict>
			<key>fullName</key>
			<string>RSI-2 (Slow)</string>
			<key>name</key>
			<string>RSI_2</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Relative_Strength_Index</string>
		</dict>
		<key>SAR</key>
		<dict>
			<key>fullName</key>
			<string>SAR</string>
			<key>name</key>
			<string>SAR</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Parabolic_SAR</string>
		</dict>
		<key>SD</key>
		<dict>
			<key>fullName</key>
			<string>Standard Deviation</string>
			<key>name</key>
			<string>SD</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Standard_deviation</string>
		</dict>
		<key>Swing</key>
		<dict>
			<key>fullName</key>
			<string>Swing</string>
			<key>name</key>
			<string>Swing</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/</string>
		</dict>
		<key>VR</key>
		<dict>
			<key>fullName</key>
			<string>VR</string>
			<key>name</key>
			<string>VR</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/</string>
		</dict>
		<key>W%R</key>
		<dict>
			<key>fullName</key>
			<string>Williams %R</string>
			<key>name</key>
			<string>W%R</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Williams_%BRR</string>
		</dict>
	</dict>
	<key>key</key>
	<array>
		<string>MA_1</string>
		<string>MA_2</string>
		<string>MA_3</string>
		<string>MA_4</string>
		<string>MA_5</string>
		<string>MA_6</string>
		<string>SAR</string>
		<string>BB</string>
		<string>SD</string>
		<string>MAV_1</string>
		<string>MAV_2</string>
		<string>RSI_1</string>
		<string>RSI_2</string>
		<string>KD</string>
		<string>EMA_1</string>
		<string>EMA_2</string>
		<string>MACD</string>
		<string>BIAS</string>
		<string>OBV</string>
		<string>PSY</string>
		<string>W%R</string>
		<string>MTM</string>
		<string>Swing</string>
		<string>AR</string>
		<string>BR</string>
		<string>DMI</string>
		<string>VR</string>
	</array>
	<key>zh-Hans</key>
	<dict>
		<key>AR</key>
		<dict>
			<key>fullName</key>
			<string>人气指标</string>
			<key>name</key>
			<string>AR</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/</string>
		</dict>
		<key>BB</key>
		<dict>
			<key>fullName</key>
			<string>布林格通道</string>
			<key>name</key>
			<string>通道</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Bollinger_bands</string>
		</dict>
		<key>BIAS</key>
		<dict>
			<key>fullName</key>
			<string>乖离率</string>
			<key>name</key>
			<string>乖离率</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Bias_ratio_(finance)</string>
		</dict>
		<key>BR</key>
		<dict>
			<key>fullName</key>
			<string>意愿指标</string>
			<key>name</key>
			<string>BR</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/</string>
		</dict>
		<key>DMI</key>
		<dict>
			<key>fullName</key>
			<string>趋向指标</string>
			<key>name</key>
			<string>DMI</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Average_directional_movement_index</string>
		</dict>
		<key>EMA_1</key>
		<dict>
			<key>fullName</key>
			<string>指数移动平均 1</string>
			<key>name</key>
			<string>EMA_1</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Moving_average_(finance)#Exponential_moving_average</string>
		</dict>
		<key>EMA_2</key>
		<dict>
			<key>fullName</key>
			<string>指数移动平均 2</string>
			<key>name</key>
			<string>EMA_2</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Moving_average_(finance)#Exponential_moving_average</string>
		</dict>
		<key>KD</key>
		<dict>
			<key>fullName</key>
			<string>随机指标</string>
			<key>name</key>
			<string>KD</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Stochastic_oscillator</string>
		</dict>
		<key>MACD</key>
		<dict>
			<key>fullName</key>
			<string>平滑异同移动平均线</string>
			<key>name</key>
			<string>MACD</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/MACD</string>
		</dict>
		<key>MAV_1</key>
		<dict>
			<key>fullName</key>
			<string>短期成交量移动平均</string>
			<key>name</key>
			<string>均量1</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Moving_average_(finance)</string>
		</dict>
		<key>MAV_2</key>
		<dict>
			<key>fullName</key>
			<string>长期成交量移动平均</string>
			<key>name</key>
			<string>均量2</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Moving_average_(finance)</string>
		</dict>
		<key>MA_1</key>
		<dict>
			<key>fullName</key>
			<string>价格移动平均 1</string>
			<key>name</key>
			<string>均价1</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Moving_average_(finance)</string>
		</dict>
		<key>MA_2</key>
		<dict>
			<key>fullName</key>
			<string>价格移动平均 2</string>
			<key>name</key>
			<string>均价2</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Moving_average_(finance)</string>
		</dict>
		<key>MA_3</key>
		<dict>
			<key>fullName</key>
			<string>价格移动平均 3</string>
			<key>name</key>
			<string>均价3</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Moving_average_(finance)</string>
		</dict>
		<key>MA_4</key>
		<dict>
			<key>fullName</key>
			<string>价格移动平均 4</string>
			<key>name</key>
			<string>均价4</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Moving_average_(finance)</string>
		</dict>
		<key>MA_5</key>
		<dict>
			<key>fullName</key>
			<string>价格移动平均 5</string>
			<key>name</key>
			<string>均价5</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Moving_average_(finance)</string>
		</dict>
		<key>MA_6</key>
		<dict>
			<key>fullName</key>
			<string>价格移动平均 6</string>
			<key>name</key>
			<string>均价6</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Moving_average_(finance)</string>
		</dict>
		<key>MTM</key>
		<dict>
			<key>fullName</key>
			<string>动量</string>
			<key>name</key>
			<string>动量</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/</string>
		</dict>
		<key>OBV</key>
		<dict>
			<key>fullName</key>
			<string>能量潮</string>
			<key>name</key>
			<string>能量潮</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/On_balance_volume</string>
		</dict>
		<key>PSY</key>
		<dict>
			<key>fullName</key>
			<string>心理线</string>
			<key>name</key>
			<string>心理线</string>
			<key>url</key>
			<string>http://www.sharechart.com.au/Education/TechnicalIndicators/Psychological%PSYLine%PSY%28PSY%29.htm</string>
		</dict>
		<key>RSI_1</key>
		<dict>
			<key>fullName</key>
			<string>相对指标 1</string>
			<key>name</key>
			<string>RSI_1</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Relative_Strength_Index</string>
		</dict>
		<key>RSI_2</key>
		<dict>
			<key>fullName</key>
			<string>相对指标 2</string>
			<key>name</key>
			<string>RSI_2</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Relative_Strength_Index</string>
		</dict>
		<key>SAR</key>
		<dict>
			<key>fullName</key>
			<string>抛物线停损点SAR</string>
			<key>name</key>
			<string>SAR</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Parabolic_SAR</string>
		</dict>
		<key>SD</key>
		<dict>
			<key>fullName</key>
			<string>标准差</string>
			<key>name</key>
			<string>标准差</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Standard_deviation</string>
		</dict>
		<key>Swing</key>
		<dict>
			<key>fullName</key>
			<string>震荡量</string>
			<key>name</key>
			<string>震荡量</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/</string>
		</dict>
		<key>VR</key>
		<dict>
			<key>fullName</key>
			<string>成交量变异率</string>
			<key>name</key>
			<string>VR</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/</string>
		</dict>
		<key>W%R</key>
		<dict>
			<key>fullName</key>
			<string>威廉指标</string>
			<key>name</key>
			<string>威廉</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Williams_%BRR</string>
		</dict>
	</dict>
	<key>zh-Hant</key>
	<dict>
		<key>AR</key>
		<dict>
			<key>fullName</key>
			<string>人氣指標</string>
			<key>name</key>
			<string>AR</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/</string>
		</dict>
		<key>BB</key>
		<dict>
			<key>fullName</key>
			<string>布林格通道</string>
			<key>name</key>
			<string>通道</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Bollinger_bands</string>
		</dict>
		<key>BIAS</key>
		<dict>
			<key>fullName</key>
			<string>乖離率</string>
			<key>name</key>
			<string>乖離率</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Bias_ratio_(finance)</string>
		</dict>
		<key>BR</key>
		<dict>
			<key>fullName</key>
			<string>意願指標</string>
			<key>name</key>
			<string>BR</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/</string>
		</dict>
		<key>DMI</key>
		<dict>
			<key>fullName</key>
			<string>趨向指標</string>
			<key>name</key>
			<string>DMI</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Average_directional_movement_index</string>
		</dict>
		<key>EMA_1</key>
		<dict>
			<key>fullName</key>
			<string>指數移動平均 1</string>
			<key>name</key>
			<string>EMA_1</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Moving_average_(finance)#Exponential_moving_average</string>
		</dict>
		<key>EMA_2</key>
		<dict>
			<key>fullName</key>
			<string>指數移動平均 2</string>
			<key>name</key>
			<string>EMA_2</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Moving_average_(finance)#Exponential_moving_average</string>
		</dict>
		<key>KD</key>
		<dict>
			<key>fullName</key>
			<string>隨機指標</string>
			<key>name</key>
			<string>KD</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Stochastic_oscillator</string>
		</dict>
		<key>MACD</key>
		<dict>
			<key>fullName</key>
			<string>平滑異同移動平均線</string>
			<key>name</key>
			<string>MACD</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/MACD</string>
		</dict>
		<key>MAV_1</key>
		<dict>
			<key>fullName</key>
			<string>短期成交量移動平均</string>
			<key>name</key>
			<string>均量1</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Moving_average_(finance)</string>
		</dict>
		<key>MAV_2</key>
		<dict>
			<key>fullName</key>
			<string>長期成交量移動平均</string>
			<key>name</key>
			<string>均量2</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Moving_average_(finance)</string>
		</dict>
		<key>MA_1</key>
		<dict>
			<key>fullName</key>
			<string>價格移動平均 1</string>
			<key>name</key>
			<string>均價1</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Moving_average_(finance)</string>
		</dict>
		<key>MA_2</key>
		<dict>
			<key>fullName</key>
			<string>價格移動平均 2</string>
			<key>name</key>
			<string>均價2</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Moving_average_(finance)</string>
		</dict>
		<key>MA_3</key>
		<dict>
			<key>fullName</key>
			<string>價格移動平均 3</string>
			<key>name</key>
			<string>均價3</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Moving_average_(finance)</string>
		</dict>
		<key>MA_4</key>
		<dict>
			<key>fullName</key>
			<string>價格移動平均 4</string>
			<key>name</key>
			<string>均價4</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Moving_average_(finance)</string>
		</dict>
		<key>MA_5</key>
		<dict>
			<key>fullName</key>
			<string>價格移動平均 5</string>
			<key>name</key>
			<string>均價5</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Moving_average_(finance)</string>
		</dict>
		<key>MA_6</key>
		<dict>
			<key>fullName</key>
			<string>價格移動平均 6</string>
			<key>name</key>
			<string>均價6</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Moving_average_(finance)</string>
		</dict>
		<key>MTM</key>
		<dict>
			<key>fullName</key>
			<string>動量</string>
			<key>name</key>
			<string>動量</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/</string>
		</dict>
		<key>OBV</key>
		<dict>
			<key>fullName</key>
			<string>能量潮</string>
			<key>name</key>
			<string>能量潮</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/On_balance_volume</string>
		</dict>
		<key>PSY</key>
		<dict>
			<key>fullName</key>
			<string>心理線</string>
			<key>name</key>
			<string>心理線</string>
			<key>url</key>
			<string>http://www.sharechart.com.au/Education/TechnicalIndicators/Psychological%PSYLine%PSY%28PSY%29.htm</string>
		</dict>
		<key>RSI_1</key>
		<dict>
			<key>fullName</key>
			<string>相對指標 1</string>
			<key>name</key>
			<string>RSI_1</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Relative_Strength_Index</string>
		</dict>
		<key>RSI_2</key>
		<dict>
			<key>fullName</key>
			<string>相對指標 2</string>
			<key>name</key>
			<string>RSI_2</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Relative_Strength_Index</string>
		</dict>
		<key>SAR</key>
		<dict>
			<key>fullName</key>
			<string>拋物線停損點SAR</string>
			<key>name</key>
			<string>SAR</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Parabolic_SAR</string>
		</dict>
		<key>SD</key>
		<dict>
			<key>fullName</key>
			<string>標準差</string>
			<key>name</key>
			<string>標準差</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Standard_deviation</string>
		</dict>
		<key>Swing</key>
		<dict>
			<key>fullName</key>
			<string>震盪量</string>
			<key>name</key>
			<string>震盪量</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/</string>
		</dict>
		<key>VR</key>
		<dict>
			<key>fullName</key>
			<string>成交量變異率</string>
			<key>name</key>
			<string>VR</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/</string>
		</dict>
		<key>W%R</key>
		<dict>
			<key>fullName</key>
			<string>威廉指標</string>
			<key>name</key>
			<string>威廉</string>
			<key>url</key>
			<string>http://en.wikipedia.org/wiki/Williams_%BRR</string>
		</dict>
	</dict>
</dict>
</plist>
